<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="CRMSource" connectionString=""/>
    <add name="CRMTarget" connectionString=""/>
  </connectionStrings>

  <appSettings>
    <add key="TestConfigId" value=""/>
    <add key="ConfigurationToExport" value=""/>
    <add key="ExportDataFilePath" value=""/>
    <add key="ImportDataFile" value=""/>
    <add key="ErrorFilePath" value=""/>
    <add key="LogFilePath" value=""/>
  </appSettings>
  <runtime>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
